@namespace "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";
@namespace html url("http://www.w3.org/1999/xhtml");

@-moz-document url("chrome://browser/content/browser.xhtml") {
    * {
        font-family: "HarmonyOS Sans TC";
    }

    .urlbar-input-box {
        text-align: center;
    }

    /* reduce right-click menu padding */
    menupopup:not(.in-menulist)>menuitem,
    menupopup:not(.in-menulist)>menu {
        padding-block: 2px !important;
        min-height: unset !important;
    }

    /* remove minimise, maximise, close buttons */
    .titlebar-buttonbox-container {
        display: none
    }
}
